<video class="video-js vjs-default-skin">
 {{yield}}
</video>

{{#if isPaused}}
  <button {{action "play"}}>Play</button>
{{else}}
  <button {{action "pause"}}>Pause</button>
{{/if}}

{{playback-rate playbackRate=playbackRate}}

{{range-endpoint 
    startOrEnd="Start" 
    endpoint=startEndpoint

    currentTime=currentTime 
    defaultEndpoint=0

    setCurrentTime="setCurrentTime"
    setEndpoint="setEndpoint"
}}

{{range-endpoint
    startOrEnd="End"
    endpoint=endEndpoint

    currentTime=currentTime
    defaultEndpoint=duration

    setCurrentTime="setCurrentTime"
    setEndpoint="setEndpoint"
}}
