<label>{{startOrEnd}}: </label>
<button {{action "incrementEndpoint" -0.5}}>&lt;&lt;</button>
{{input value=endpointTime}}
<button {{action "incrementEndpoint" 0.5}}>&gt;&gt;</button>
<button {{action "setEndpointToCurrentTime"}}>Now</button>